$font-stack: sans-serif;
// $primary-color: ;
// $secondary-color: ;
// $primary-text-color: ;
// $link-color: ;
// $link-hover-color: ;
// $menubar-link-hover-color: ;
// $button-press-color: ;

//Breakpoints

//Very large tablets/computers (1350px)
$screen-huge-max: 84.38em; 

//Large tablets/computers (1200px)
$screen-xl-max: 75em;

//Tablets and small computers (1000px)
$screen-lg-max: 62.5em;

//Small tablets (800px)
$screen-md-max: 50em;

//Small tablets and large smartphones (600px)
$screen-sm-max:37.5em;